@model HastaKabul.Models.Hastalar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Hastalar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaTc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaTc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaYas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaYas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HastaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
