@model IEnumerable<HastaKabul.Models.Hastalar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HastaTc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaYas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HastaTc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaYas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaPassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HastaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HastaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HastaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
